<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title> Edit task</title>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/todolist">Home</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/todolist/add">Add <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <h3>Modify task</h3>

    <form action="/todolist/edit/${todo.id}" method="POST">
        <div class="form-group" >
            <label for="exampleTaskName">Task #</label>
            <input type="text" class="form-control" name="task-id" placeholder="${todo.id}" value="${todo.id}" disabled>
        </div>
        <div class="form-group" >
            <label for="exampleTaskName">Task name</label>
            <input type="text" class="form-control" name="name" placeholder="${todo.name}" value="${todo.name}">
        </div>
        <div class="form-group">
            <label for="exampleTaskDueDate">Due date</label>
            <input name="DueDate" placeholder="${todo.dueDate}" type="text" id="date-picker" class="form-control datepicker" value="${todo.dueDate}">
            <script type="text/javascript">
            $(function () {
                $('.date-picker').datetimepicker();
            });
</script>
        </div>
        <div class="form-group">
            <label for="exampleTaskPriority">Priority</label>
            <input type="text" class="form-control" name="priority" placeholder="${todo.priority}" value="${todo.priority}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="/todolist" class="btn btn-primary btn-lg btn-block">Go Home</a>
</div>

</body>
</html>